/**** CSS variables ****/

:root {
    /* Colors */
    --primary-background-color: #FDD044;
    --secondary-background-color: #EFEFEF;
    --primary-black: #000000;
    --secondary-text-color: #ffffff;
    --primary-red-color: #AE0706;
    --primary-green-color: #16940C;

    /* Text */
    --primary-font: 'Poppins', sans-serif;
    --secondary-font: 'Bebas Neue', sans-serif;
    --terciary-font: 'Roboto Condensed', sans-serif;
    --spacing: 0.10rem;
}


/**** Global Styles ****/

h1, h2, h3, h4, h5 {
  letter-spacing: var(--spacing);
}

h1 {
  font-size: 2.3em;
}
h2 {
  font-size: 1.5em;
}
h3 {
  font-size: 1.25rem;
}
h4 {
  font-size: 0.875rem;
}



/* Fonts (sizes, family, weight?), primary and secondary colors, sections padding and margins, line height, h sizes */



/* Navigation */
.navbar{
    background-color: var(--primary-black);
}

.navbar .nav-link{
    color: var(--secondary-text-color);
}

.navbar-toggler:focus{
    box-shadow: none;
}


/* Banner */
#hero{
    width: 100vw;
    height: 100vh;
    font-family: var(--primary-font);
}

.header-bg{
    height: inherit;
    object-fit: cover;
}

.header-overlay{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.header-title h1, .slogan{
    font-weight: 600;
}

.slogan-small{
    font-weight: 200;
}

.header-img img{
    width: 18em;
    height: auto;
    object-fit: contain; 
}

.header-slogan .btn{
    color: var(--secondary-text-color);
    background-color: var(--primary-green-color);
}



/* Media Queries */

@media  screen and (min-width: 768px) {
    
    .header-img img{
        width: 22em;
    }
}

@media  screen and (min-width: 1024px) {
    .header-img img{
        width: 30em;
    }

    /* .header-slogan{
        color: var(--primary-black) !important;
    } */


}

@media  screen and (min-width: 1440px) {
    .header-img img{
        width: 35em;
    }
}
