/* Global Styles */

/* Fonts (sizes, family, weight?), primary and secondary colors, sections padding and margins, line height, h sizes */




/* Banner */
#hero{
    width: 100vw;
    height: 100vh;
    font-family: 'Poppins', sans-serif;
}

.header-bg{
    height: inherit;
    object-fit: cover;
}

.header-overlay{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.logo{
    width: 6.5em;
    height: auto;
    border-radius: 50%;
    border: 3px solid black;
}

.header-logo-slogan h1, .header-title h2{
    font-weight: 600;
}

.slogan{
    font-weight: 200;
}

.header-img img{
    width: 20em;
    height: auto;
    object-fit: contain; 
}

.header-title .btn{
    color: white;
    background-color: #16940C;
}


/* Navigation */

.navbar{
    background-color: black;
}


.navbar .nav-link{
    color: white;
    
}





/* Media Queries */

@media  screen and (min-width: 768px) {
    

    .header-img img{
        width: 25em;
    }
    
}

@media  screen and (min-width: 1024px) {
    

    
    
}